extends layout

block content
  h1= title
  nav
    ul
      li#add-col
        span.fa.fa-plus-circle.fa-lg(title='Extend the table with new column')
        |  Add column
      li#add-row
        span.fa.fa-plus-circle.fa-lg(title='Extend the table with new row')
        |  Add row
      li#remove-selected
        span.fa.fa-minus-circle.fa-lg(title='Remove selection')
        |  Remove
  table
    thead
      tr
        th
        each row, index in header
          th.cols(class='col_' + index, title='Select column')= row
    tbody
      - for (var i = 0; i < excel.MaxRow; i++)
        tr
          td.rows(class='row_' + i, title='Select row')= i
          - for (var j = 0; j < excel.MaxCol; j++)
            - var colId = String.fromCharCode(65 + i) + (j + 1)
            td.cell(id=colId, class='col_' + j + ' row_' + i)
  script(src='js/app.js')